<div th:fragment="footer">
    <div style="height:60px;"></div>
    <footer>
        <div class="social-icons">
            <a href="https://www.youtube.com/watch?v=kZWlWjO4keA" target="_blank">Facebook</a>
            <a href="https://www.youtube.com/watch?v=w-ACFfm9byE" target="_blank">Twitter</a>
            <a href="https://www.youtube.com/watch?v=geZAwzqguaw" target="_blank">Instagram</a>
        </div>
        <p>&copy; 2024 Gamja Mall. All Rights Reserved.</p>
        <p>문의: rkdgustj1207@naver.com | 010-1234-5678</p>
    </footer>
</div>